@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Outfit:wght@400;700&family=Poppins:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Outfit:wght@400;700&family=Poppins:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Big Shoulders Display", sans-serif;
  font-family: "Lexend Deca", sans-serif;
}
.container {
  display: flex;
  border-radius: 20px;
}
.attribution {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 100px;
}
.cards {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  background-color: cadetblue;
}
img {
  width: 60px;
  margin-bottom: 20px;
}

.cardscontent {
  padding: 40px;
}
.header {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
  color: white;
}
.descriptions {
  font-size: 15px;
  width: 200px;
  height: 150px;
  color: white;
  padding-bottom: 20px;
}

.button1:hover {
  background-color: hsl(31, 77%, 52%);
  border: 1px solid white;
  color: white;
}

.button2:hover {
  background-color: hsl(184, 100%, 22%);
  border: 1px solid white;
  color: white;
}

.button3:hover {
  background-color: hsl(179, 100%, 13%);
  border: 1px solid white;
  color: white;
}
.button1 {
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  color: hsl(31, 77%, 52%);
}
.button2 {
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  color: hsl(184, 100%, 22%);
}
.button3 {
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  color: hsl(179, 100%, 13%);
  border-radius: 20px;
}
@media (max-width: 450px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .attribution {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 0px;
    padding-top: 30px;
  }
}
@media (min-width: 450px) and (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .attribution {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    padding-top: 50px;
  }
}
